{% extends 'helloengineer/base.html' %}

{% block header %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'helloengineer/form.css' %}">
{% endblock %}

{% block content %}
  <h2>グループ作成</h2>
  <div class="center">
    <form action="" method="POST" enctype="multipart/form-data">
    <div class="sheet">
      {% for field in form %}
        <div class="elem">
          {{ field.label }}:
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit" class="create_button">作成</button>
      {% csrf_token %}
    </div>
    </form>
  </div>
{% endblock %}